<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="chat">
      <div class="div">
        <div class="overlap">
          <div class="mensagens"></div>
          <div class="avatar">
            <div class="div-wrapper"><div class="text-wrapper">OP</div></div>
          </div>
          <div class="perfil">
            <div class="group">
              <div class="text-wrapper-2">#CU6798H</div>
              <div class="text-wrapper-3">Suporte ADMIN</div>
            </div>
            <div class="avatar-2"></div>
            <img class="filled-communication" src="img/phone.svg" />
            <img class="filled-av-videocam" src="img/videocam.svg" />
            <img class="filled-action-info" src="img/info.svg" />
          </div>
          <div class="envio">
            <div class="overlap-group">
              <div class="group-2">
                <img class="filled-editor-attach" src="img/attach-file.svg" />
                <div class="filled-content-send-wrapper"><img class="filled-content-send" src="img/send.svg" /></div>
                <img class="filled-navigation" src="img/check.svg" />
              </div>
              <div class="text-wrapper-4">Digite a mensagem</div>
            </div>
          </div>
          <img class="img" src="img/more-horiz.svg" />
          <div class="div-2">
            <div class="avatar-3"><div class="text-wrapper">OP</div></div>
            <div class="text-wrapper-5">8:00 PM</div>
            <div class="lorem-ipsum-has-been-wrapper">
              <p class="lorem-ipsum-has-been">
                Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>
          <div class="div-3">
            <div class="avatar-4"></div>
            <div class="text-wrapper-6">8:00 PM</div>
            <div class="overlap-2">
              <p class="p">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s,</p>
            </div>
          </div>
          <div class="div-4">
            <div class="avatar-5"><div class="text-wrapper">OP</div></div>
            <div class="text-wrapper-7">8:00 PM</div>
            <div class="overlap-3">
              <p class="lorem-ipsum-has-been-2">
                Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>
          <div class="div-5">
            <div class="avatar-6"></div>
            <div class="text-wrapper-8">8:00 PM</div>
            <div class="overlap-2">
              <p class="p">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s,</p>
            </div>
          </div>
        </div>
        <header class="header">
          <img class="filled-social" src="img/notifications.svg" />
          <img class="person-filled" src="img/person-filled.svg" />
        </header>
        <div class="overlap-4">
          <div class="overlap-wrapper">
            <div class="overlap-5">
              <div class="text-wrapper-9">Mensagens</div>
              <div class="mensagem">
                <div class="group-3">
                  <div class="text-wrapper-10">Pesquisar chat</div>
                  <div class="text-wrapper-11">이 부모</div>
                </div>
                <div class="w-badge-wrapper">
                  <div class="w-badge">
                    <div class="border-wrapper">
                      <div class="border"><div class="badge"></div></div>
                    </div>
                  </div>
                </div>
                <img class="filled-av-play-arrow" src="img/play-arrow.svg" />
              </div>
              <div class="mensagem-2">
                <div class="group-4">
                  <div class="text-wrapper-10">Pesquisar chat</div>
                  <div class="text-wrapper-11">김 원장</div>
                </div>
                <div class="avatar-7"></div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-2"><div class="text-wrapper-12">1</div></div>
                </div>
              </div>
              <div class="unstyled-button">
                <div class="content">
                  <button class="button">CHAT</button>
                  <div class="masked-icon"><img class="filled-content-add" src="img/add.svg" /></div>
                </div>
              </div>
              <div class="mensagem-3">
                <div class="group-3">
                  <div class="text-wrapper-10">Pesquisar chat</div>
                  <div class="text-wrapper-11">박 교사</div>
                </div>
                <div class="avatar-8"></div>
                <img class="filled-av-play-arrow-2" src="img/play-arrow.svg" />
              </div>
            </div>
          </div>
          <div class="pesquisa">
            <div class="overlap-6">
              <div class="text-wrapper-13">Pesquisar chat</div>
              <img class="filled-action-search" src="img/search.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
