.metadata/
Servers/
test/.project
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.gitignore
jdk-17/
myLib/
mysql-connector-j-8.3.0/
openjdk-17+35_windows-x64_bin.zip
spring-tool-suite-4-4.22.1.RELEASE-e4.31.0-win32.win32.x86_64.self-extracting.jar
springLib.zip
springLib/
sqldeveloper/
sts-4.22.1.RELEASE/
tomcat-10.1.20-windows-x64.zip
tomcat10/
web_workspace1/.metadata/.mylyn/
FileZilla-3.66.5/
FileZilla_3.66.5_win64.zip
aws/
data/
data2/
demobld.sql
intellij_workspace/spring_quiz04_annotation/.idea/dataSources/aead7763-901d-4ebf-a9a8-8d540c302026/storage_v2/_src_/schema/SCOTT.v0axBA.zip
