/.metadata/

#등록 제외할 폴더
mylib/
mysql-connector-j-8.3.0/
sqldeveloper/
tomcat10/
workspace/.metadata
download/
cos-22.05/
FileZilla-3.66.5/
aws/
jdk-17/
docker_workspace/


#등록 제외할 파일
demobld.sql
tomcat-10.1.20-windows-x64.zip

# 확장자 제외
*.zip

