<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="g" class="kr.co.jhta.app.Gun">
        <constructor-arg name="bullet" value="8">
        </constructor-arg>
    </bean>

    <bean id="s" class="kr.co.jhta.app.StunGun">
        <constructor-arg name="battery" value="5">
        </constructor-arg>
    </bean>

    <bean id="ss" class="kr.co.jhta.app.Slingshot">
        <constructor-arg name="ball" value="5">
        </constructor-arg>
    </bean>

    <!--<bean id="ch" class="kr.co.jhta.app.Police">
        <property name="w" ref="ss">
        </property>
    </bean>-->

    <bean id="ch" class="kr.co.jhta.app.Assassin">
        <property name="w" ref="ss">
        </property>
    </bean>
</beans>