<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat.html</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .container {
            width: 500px;
            margin: 0 auto;
            padding: 25px;
        }
        .chatting {
            background-color: #000;
            width: 500px;
            height: 500px;
            overflow: auto;
        }
        .chatting p {
            color: #fff;
        }
        #yourMsg {
            display: none;
        }
        #msg {
            width: 350px;
        }
        .me {
            text-align: right;
        }
        .other {
            text-align: left;
        }
    </style>

    <script>
        let ws;

        function wsOpen() {
            ws = new WebSocket("ws:/" + location.host + "/chatting");

            wsEvt();
        }
        function wsEvt() {
            ws.onopen = function (data) {
                // 소켓이 열리면 초기화 세팅
            }
            ws.onmessage = function (data) {
                let msg = data.data;
                if (msg != null && msg.trim() != '') {
                    let d = JSON.parse(msg);
                    console.log(d);
                    if (d.type === "getId") {
                        let si = d.sessionId != null ? d.sessionId : "";
                        if (si !== '') {
                            $("#sessionId").val(si);
                        }
                    } else if (d.type == "message") {
                        if (d.sessionId === $("#sessionId").val()) {
                            $("#chatting").append("<p class='me'> me:" + d.msg + "</p>")
                        } else {
                            $("#chatting").append("<p class='other'>"+ d.userName + ": " + d.msg + "</p>")
                        }
                    }
                }
            }
            document.addEventListener("keypress", function(e) {
                if (e.keyCode == 13) { // enter 키가 눌리면
                    send();
                }
            });
        }

        function send() {
            let option = {
                type: "message",
                sessionId: $("#sessionId").val(),
                userName: $("#userName").val(),
                msg: $("#msg").val(),
            }
            ws.send(JSON.stringify(option));
            $("#msg").val("");
        }

        function chatName() {
            let username = $("#userName").val();
            if (username == null || username.trim() == "") {
                alert("사용자 이름을 입력하세요");
                $("#userName").focus();
            } else {
                wsOpen();
                $("#yourName").hide();
                $("#yourMsg").show();

            }
        }
    </script>
</head>
<body>
    <div id="container" class="container">
    <h3>채팅</h3>
        <div id="chatting" class="chatting">

        </div>
        <div id="yourName">
            <table class="inputTable">
                <tr>
                    <th>사용자명</th>
                    <th><input type="text" name="userName" id="userName" class="form-control"></th>
                    <th><button onclick="chatName()" class="btn btn-outline-success">이름 등록</button></th>
                </tr>
            </table>
        </div>

        <div id="yourMsg">
            <table class="inputTable">
                <tr>
                    <th>메시지</th>
                    <th><input type="text" id="msg" name="msg" placeholder="보내실 메시지를 입력하세요" class="form-control"></th>
                    <th><button onclick="send()" id="sendBtn" class="btn btn-outline-success">보내기</button></th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>