<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="imple" class="app.CustomerServiceImple">
        <property name="name" value="MJY"/>
        <property name="email" value="MJY@gmail.com"/>
    </bean>

    <bean id="after" class="app.AfterInterceptorAdvice"/>

    <bean id="cs" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="imple"/>
        <property name="interceptorNames">
            <list>
                <value>after</value>
            </list>
        </property>
    </bean>
</beans>