<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="ct" class="kr.co.jhta.app.CheckTime2"/>

    <bean id="cs" class="kr.co.jhta.app.CustomerServiceImple">
        <property name="name" value="natty"/>
        <property name="email" value="natty@gmail.com"/>
    </bean>

    <!-- AOP setup -->
    <aop:config>
        <!-- 새로운 aspect 지점 -->
        <aop:aspect id="checkAspect" ref="ct">
            <!-- 정확히 어디에 지정할 것인지 -->
            <aop:pointcut id="checkPoint" expression="execution(public * printName(..))"/>
            <!-- 처리 방식 -->
            <aop:around method="logAround" pointcut-ref="checkPoint"/>
        </aop:aspect>
    </aop:config>
</beans>