<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- controller와 기본적인 bean 등록 페이지 -->
    <bean id="main" class="kr.co.jhta.web.control.MainController"/>
    <bean id="login" class="kr.co.jhta.web.control.LoginController"/>
    <bean id="join" class="kr.co.jhta.web.control.JoinController"/>
    <bean id="deptShow" class="kr.co.jhta.web.control.DeptController"/>

    <bean id="dao" class="kr.co.jhta.web.dao.OracleDAO"/>

</beans>