<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="imple" class="kr.co.jhta.app.BankImple">
        <property name="name" value="natty"/>
        <property name="balance" value="10000"/>
    </bean>

    <bean id="after" class="kr.co.jhta.app.LoggingAdvice"/>

    <bean id="bank" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="imple"/>
        <property name="interceptorNames">
            <list>
                <value>after</value>
            </list>
        </property>
    </bean>


</beans>