<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
<!--    <link rel="stylesheet" href="globals.css" />-->
<!--    <link rel="stylesheet" href="styleguide.css" />-->
<!--    <link rel="stylesheet" href="style.css" />-->
    <link th:href="@{/style.css}" rel="stylesheet" />
<!--    <link th:href="@{/styleguide.css.css}" rel="stylesheet" />-->
    
  </head>
  <body>
    <div class="div-wrapper">
      <div class="div">
        <footer class="footer">
          <div class="footer-inner">
            <div class="footer-text">
              <div class="copyright"><p class="text-wrapper">Copyright 2024. aico. All Right Reserved.</p></div>
              <div class="view">
                <div class="text-wrapper-2">Notion</div>
                <div class="text-wrapper-3">|</div>
                <div class="text-wrapper-4">Github</div>
              </div>
            </div>
          </div>
        </footer>
        <div class="overlap">
          <div class="container">
            <div class="top"><div class="text-wrapper-5">일간 출석부</div></div>
            <div class="btn-modify"><div class="text-wrapper-6">출석부생성</div></div>
            <div class="btn-cancel"><div class="text-wrapper-7">홈으로</div></div>
          </div>
          
         
        </div>
        <header class="header">
          <div class="header-inner">
            <div class="navbar">
              <div class="mng-toggle">
                <div class="overlap-group-3">
                  <div class="text-wrapper-14">관리</div>
                  <img class="material-symbols" src="img/image.svg" />
                </div>
              </div>
              <div class="text-wrapper-15">공지사항</div>
              <div class="text-wrapper-15">알림장</div>
              <div class="text-wrapper-15">일정표</div>
              <div class="text-wrapper-15">식단표</div>
              <div class="text-wrapper-15">출석부</div>
              <div class="request-toggle">
                <div class="overlap-13">
                  <div class="text-wrapper-16">의뢰서</div>
                  <img class="img" src="img/material-symbols-arrow-drop-down-rounded.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="frame-6"><div class="text-wrapper-17">aibayo</div></div>
        </header>
      </div>
    </div>
  </body>
</html>
