<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
	자바의 객체 ==> bean
	
	스프링이 관리해줄 빈에 대한 정보 적는 파일
	 -->
	 
	 <!-- HelloJp h = new HelloJp(); -->
	 <bean id="h" class="spring_app01.HelloVn"></bean>

</beans>